MYSQL_ROOT_PASSWORD=csi3335rocks
MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=local_mongo_root_password
INTERNAL_SERVICE_KEY=local_internal_service_key
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=local_neo4j_password
OPENAI_API_KEY=
OPENAI_BASE_URL=
ANTHROPIC_API_KEY=
GROQ_API_KEY=
ENCRYPTION_KEY=local_encryption_key_32_chars_min
