MYSQL_ROOT_PASSWORD=local_mysql_root_password
MONGO_ROOT_USERNAME=local_mongo_root_username
MONGO_ROOT_PASSWORD=local_mongo_root_password
MONGO_AUTH_SOURCE=local_mongo_auth_source
INTERNAL_SERVICE_KEY=local_internal_service_key
NEO4J_USERNAME=local_neo4j_username
NEO4J_PASSWORD=local_neo4j_password
OPENAI_API_KEY=
OPENAI_BASE_URL=
ANTHROPIC_API_KEY=
GROQ_API_KEY=
ENCRYPTION_KEY=local_encryption_key_32_chars_min
