# Include a similar .env file 
# Set to True to use the external REST API, False to default back to Ollama
USE_EXTERNAL_SLM=True

# External API variables
EXTERNAL_API_BASE=https://{model_name}.openai.azure.com/
EXTERNAL_API_KEY={key}
EXTERNAL_MODEL_NAME=gpt-5-mini

# Internal SLM settings
OLLAMA_BASE_URL=http://localhost:11434

# Semaphores limit
SEMAPHORES=2